* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #939393;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
}

.header-left {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-left img {
    height: 100%;
    margin-right: 20px;
}

.header-left a {
    margin-left: 20px;
    text-transform: uppercase;
}

.header-left a, .header-right a {
    text-decoration: none;
    color: #939393;
}

.header-left a:hover {
    color: black;
}

.header-right {
    width: 70%;
    height: 100%;
}

.right-menu {
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.menu-item {
    margin-right: 30px;
    position: relative;
}

.menu-item i {
    font-size: 11px;
    margin-left: 10px;
}

.menu-item button {
    padding: 15px 30px;
    border: 0;
    border-radius: 25px;
    background-color: #d2007e;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.menu-item:hover a {
    color: black;
}

.dropdown-menu {
    position: absolute;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
    padding: 5px 20px;
}

.dropdown-menu-item {
    margin: 15px 0;
}
